body{
    background-color: white;
}
.navbar{
    border-style: hidden;
}
.navbar img {
    float: left;  
}
 .navbar i{
font-family: cursive;
font-style: italic;
font-display: fallback;
 }
 .navigation li{
     list-style: none;
     display: inline;
     padding: 20px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 0;
     margin-bottom: 20px;
     font-weight: bolder;
 }

  ul{
     margin-left: 600px;
     margin-top: 0;
 }
 .navbar i{
     display: inline;
 }
 .navbar h1{
     float: left;
     font-weight: bolder;
 }
 .burger img{
     float: right;
     border-style: groove;
     background-color: yellow;
     height: 700px; 
     
    
 }