body{
    background-color: white;
}
.navbar{
    border-style: hidden;
    border: 1px;
    box-sizing: border-box;
    max-width: 970px;
    min-height:250px ;
    display: inline-flex;
}

}
 .navbar em {
font-family: cursive;
font-style: italic;
font-display: fallback;
color: yellow;
 }
 .navigation li{
     list-style: none;
     display: inline;
     padding: 20px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 0;
     margin-bottom: 20px;
     font-weight: bolder;
 }

  ul{
     margin-left: 600px;
     margin-top: 0;
 }
 .navbar i{
     display: inline;
 }
 .navbar h1{
     float: left;
     font-weight: bolder;
 }
 .navbar img{
     float: left;
  
 }
 .info{
     box-sizing: content-box;
     float: left;
     position: relative;
     width: 50%;
     display: inline;

 }

 .clsimg{
    float: right;
    border: 1px;
    border-style: hidden;
    background-color: yellow;
    object-fit: cover;
    width: 50%;
    max-height: fit-content;




 }
 .container{
     background-color: mintcream;
     color: sienna;
     width: 100%;
     box-sizing: border-box;
     margin: 3em 0;
     padding: 0 5%;
     display: inline-flex;

 }

 .info-container{
     float: left;
     position: relative;
     width: 33.3%;
     text-align: center;
     display: inline;
     border: solid sienna;
     border-radius: 2px;
     margin: 10px 5px;
     border-style: ridge;
     
 }
 .our-menu{

     float: left;
     position: relative;
     width: 33.3%;
     text-align: center;
     display: inline;
     border: solid sienna;
     border-radius: 2px;
     margin: 10px 5px;
     border-style: ridge;
     border: 1px solid sienna;
     border-radius: 1px;
     
 }
 .option-menu{
    background-color: white;
    color: sienna;
    width: 100%;
    box-sizing: border-box;
    margin: 3em 0;
    padding: 0 5%;
    display: inline-flex;

 } menu {
     text-align: center;
    
 }
 .pictures{
    background-color: white;
    color: sienna;
    width: 100%;
    box-sizing: border-box;
    margin: 3em 0;
    padding: 0 5%;
    display: inline-flex;

 }
 .photos{

    float: left;
    position: relative;
    width: 33.3%;
    text-align: center;
    display: inline;
    border: solid sienna;
    border-radius: 2px;
    margin: 10px 5px;
    border-style: ridge;
    border: 1px solid sienna;
    border-radius: 1px;
    
}

 